body{
    font-family: 'Roboto Slab', serif;
}
.sidebar{
    
}
.nav-sidebar{
    margin: 50px -20px 20px 20px;
}
.nav-sidebar > li >a{
    padding: 20px 20px;
}
.main{
    margin: 50px;
    background-color: whitesmoke;
}

.placeholders{
    margin-top: 10px;
    margin-bottom: 30px;
}
.placeholder{
    margin-bottom: 20px;
}
.placeholder img{
    display: inline;
    border-radius: 50%;
}